/*
	CSS Document
	2017
	Country: Brazil
	Author: Rian Dutra
	Website: www.riandesign.com.br
*/






* {
	margin:0;
	padding:0;
}

/* RESET CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
p { margin-top: 0px }

ol, ul {
	list-style: none;
}
li { list-style: none }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
}

.opacidade40 {
	filter: alpha(opacity=40);
	opacity: .40;
}


/** General Style Info **/
a {
	color: #000;
	text-decoration: none;
}
a:hover { text-decoration: underline }
a img {
	border:none;
}
h1, h2, h3, h4 {
	font-weight: normal;
	margin-bottom:0.5em;
}
h1 {
	background:#fff;
	font-size: 22px;
}
h2 {
	background:#fff;
	font-size: 18px;
}
h3 {
	font-size: 14px;
}
h4 {
	font-weight: normal;
}
ul, li {
	margin: 0px;
}
p {
	margin: 0 0 1em 0;
}

/** Layout **/
#container {
	text-align: left;
}

#header{
	padding: 10px 20px;
}
#header h1 {
	line-height:20px;
	background: #003d4c url('../img/cake.icon.png') no-repeat left;
	color: #fff;
	padding: 0px 30px;
}
#header h1 a {
	color: #fff;
	background: #003d4c;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #fff;
	background: #003d4c;
	text-decoration: underline;
}
#content{
	background: #fff;
	clear: both;
	color: #333;
	padding: 10px 20px 40px 20px;
	overflow: auto;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}


/** containers **/
div.form,
div.index,
div.view {
	float: right;
	width: 755px;
	padding-left: 15px;
}
div.actions {
	float: left;
	width: 150px;
	padding-right: 15px;
	border-right: 1px solid #ddd;
}
div.actions h3 {
	padding-top:0;
	color:#777;
}

div.view a { text-decoration: underline }
div.view a:hover { text-decoration: none }

/** Tables **/
table {
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' \21D3';
}
th a.desc:after {
	content: ' \21D1';
}
table tr td {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr {
	background: #fff;
}
table tr:nth-child(even) {
	background: #f2f2f2;
}
td.actions {
	font-size: 11px;
	text-align: center;
	white-space: nowrap;
	width: 160px;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
td.comBorda { border-right: 1px solid #aaa!important }

td.escuro {
	background: #aaa!important;
	color: #fff;
}


/* SQL log */
.cake-sql-log {
	background: #fff;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #666;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 100%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 150px;
}
dd {
	margin-left: 150px;
	margin-top: -2em;
	vertical-align: top;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	padding: 0px;
}
fieldset legend {
	color: #333;
	font-size: 18px;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 12px;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 5px;
	padding: 2px;
	vertical-align: text-top;
}
form .input { color: #333 }
form .input span { color: #999 }

input[disabled],
select[disabled] {
	color: #999;
}

form .required {
	font-weight: bold;
}
form .required label:after {
	color: #df221c;
	content: '*';
	display:inline;
}

form input[type=submit] {
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	background: #333;
	border: none;
}

form .submit input[type=submit]:hover {
	background: #666;
}

form div.submit {
	border: 0;
	clear: both;
}
label {
	display: block;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
}

input,
textarea,
select {
	background: #fff;
	border: none;
	clear: both;
	color: #333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
	width: 97%;
	border: 1px solid #aaa;
	margin-bottom: 7px;
}
select {
	clear: both;
	font-size: 12px;
	vertical-align: text-bottom;
}
select option {
	border-bottom: 1px solid #cfcfcf;
	padding: 5px;
}

option {
	font-size: 12px;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}

form select,
form .date select,
form .datetime select {
	padding: 5px;
}

form .date select,
form .datetime select {
	width: 100px;
}

form select option,
form .date select option,
form .datetime select option {
	padding: 0px;
}

div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 12px;
	width: auto;
}

/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding: 4px 0px 0px 0px;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/** Notices and Errors **/
.message,
.erro,
.sucesso,
.aviso {
	margin: 20px auto 10px auto;
	clear: both;
	color: #fff;
	font-size: 12px!important;
	font-weight: normal;
	padding: 10px;
	cursor: default;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.message,
.erro {
	color: #fff!important;
	background: #ec120b!important;
}
.sucesso {
	color: #fff!important;
	background: #3264fa!important;
}
.aviso {
	color: #000!important;
	background: #fac932!important;
}

/* Usado para o site */
.sucesso2 {
	margin-bottom: 20px;
	clear: both;
	color: #000;
	border: 1px solid #ccc;
	background: #fafafa;
	font-size: 12px!important;
	font-weight: normal;
	padding: 20px;
	cursor: default;
}
.erro2 {
	margin-bottom: 20px;
	clear: both;
	color: #ec120b;
	border: 1px solid #ec120b;
	background: #fafafa;
	font-size: 12px!important;
	font-weight: normal;
	padding: 20px;
	cursor: default;
}



.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
	background: #ffcc00;
	font-weight: normal;
	font-size: 11px;
	color: #404040;
}
.success,
.message,
.cake-error,
p.error,
.error-message {
	clear: both;
	color: #fff;
	background: #df221c;
}
.success {
	clear: both;
	color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background: #3B8230;
	background-repeat: repeat-x;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
	background-image: linear-gradient(top, #76BF6B, #3B8230);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
	font-size: 12px;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	font-weight: normal;
	line-height: 140%;
}
.notice {
	color: #000;
	display: block;
	font-size: 12px;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	color: #fff;
}

/**  Actions  **/
.actions ul {
	margin: 0px 0px 20px 0px;
	padding: 0;
}
.actions li {
	margin:0 0 0.5em 0;
	list-style-type: none;
	white-space: nowrap;
	padding: 0;
}
.actions ul li a {
	font-weight: normal;
	display: block;
	clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 12px 18px;
	background: #fff;
	color: #333;
	border: 1px solid #d0d0d0;
	text-decoration: none;
	min-width: 0;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.actions ul li a:hover,
.actions a:hover {
	background: #f1f1f1;
	color: #666;
	text-decoration: none;
}
.actions ul li a:active,
.actions a:active {
	background: #eee;
	border-color: #aaa;
	text-decoration: none;
}

/** Related **/
.related {
	clear: both;
	display: block;
}

/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 15px;
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.cake-debug-output {
	padding: 0;
	position: relative;
}
.cake-debug-output > span {
	position: absolute;
	top: 5px;
	right: 5px;
	background: rgba(255, 255, 255, 0.3);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 6px;
	color: #000;
	display: block;
	float: left;
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.5);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.cake-debug,
.cake-error {
	font-size: 16px;
	line-height: 20px;
	clear: both;
}
.cake-error > a {
	text-shadow: none;
}
.cake-error {
	white-space: normal;
}
.cake-stack-trace {
	background: rgba(255, 255, 255, 0.7);
	color: #333;
	margin: 10px 0 5px 0;
	padding: 10px 10px 0 10px;
	font-size: 12px;
	line-height: 140%;
	overflow: auto;
	position: relative;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.cake-stack-trace a {
	text-shadow: none;
	background: rgba(255, 255, 255, 0.7);
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin: 0px 4px 10px 2px;
	font-size: 14px;
	line-height: 14px;
	display: inline-block;
	text-decoration: none;
	-moz-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 1px 0 rgba(0, 0, 0, 0.3);
}
.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
.cake-context {
	margin-bottom: 10px;
}
.cake-stack-trace pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px 0 10px 0;
	padding: 1em;
	overflow: auto;
	text-shadow: none;
}
/* excerpt */
.cake-code-dump pre,
.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
.cake-code-dump .code-highlight {
	display: block;
	background-color: rgba(255, 255, 0, 0.5);
}
.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
.code-coverage-results div.covered span.content {
	background:#cec;
}
.code-coverage-results div.ignored span.content {
	color:#aaa;
}
.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
.code-coverage-results span.line-num strong {
	color:#666;
}
.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
.code-coverage-results div.realstart {
	margin-top:0px;
}
.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
.code-coverage-results span.result-bad {
	color: #a00;
}
.code-coverage-results span.result-ok {
	color: #fa0;
}
.code-coverage-results span.result-good {
	color: #0a0;
}

/** Elements **/
#url-rewriting-warning {
	display:none;
}



/** Outros **/
.clear { clear: both }




/** Paginação ADMIN **/
.paginacao {
	cursor: default;
	margin-top: 30px;
}
.paginacao a,
.paginacao .desabilitado,
.paginacao .current {
	padding: 6px 10px;
	color: #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
	margin-right: 4px;
}
.paginacao a:hover {
	background: #ebebeb;
	color: #666;
}
.paginacao .current {
	color: #fff;
	background: #b0aeaf;
}
.paginacao .desabilitado {
	color: #999;
}













/** Fontes usadas **/
.Trebuchet { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif }
.georgia { font-family: Georgia, "Times New Roman", Times, serif }

.semBg { background: none!important }

/** Tamanhos de fontes **/
.fontSize10 { font-size: 10px }
.fontSize11 { font-size: 11px }
.fontSize12 { font-size: 12px }
.fontSize13 { font-size: 13px }
.fontSize14 {
	font-size: 14px;
	line-height: 16px;
}
.fontSize16 {
	font-size: 16px;
	letter-spacing: -0.5px;
}
.fontSize18 { font-size: 18px }
.fontSize20 {
	font-size: 20px;
	letter-spacing: -1px;
	line-height: 22px;
}
.fontSize22 {
	font-size: 22px;
	letter-spacing: -1px;
	line-height: 24px;
}
.fontSize24 {
	font-size: 24px;
	letter-spacing: -0.5px;
}
.fontSize26 {
	font-size: 26px;
	letter-spacing: -2px;
}
.fontSize28 {
	font-size: 28px;
	letter-spacing: -2px;
}
.fontSize30 {
	font-size: 30px;
	letter-spacing: -2px;
}
.fontSize32 { font-size: 32px }
.fontSize34 {
	font-size: 34px;
	letter-spacing: -1px;
	line-height: 36px;
}
.fontSize36 {
	font-size: 36px;
	letter-spacing: -1px;
	line-height: 38px;
}
.fontSize38 {
	font-size: 38px;
	letter-spacing: -1.5px;
}
.fontSize50 {
	font-size: 50px;
	letter-spacing: -3px;
}
.fontSize68 {
	font-size: 68px;
	letter-spacing: -4px;
}

/** Espaço entre letras **/
.letterSpacingPadrao { letter-spacing: 0px }
.letterSpacing1 { letter-spacing: -1px }
.letterSpacing2 { letter-spacing: -2px }

/** Espaço entre linhas **/
.lineHeight14 { line-height: 14px }
.lineHeight20 { line-height: 20px }

/** Fontes **/
.arial { font-family: Arial, Helvetica, sans-serif }

/** Text alignment **/
.textAlignCenter { text-align: center!important }
.textAlignLeft { text-align: left!important }
.textAlignRight { text-align: right!important }
.textAlignJustify { text-align: justify }

/** Colors **/
.white { color: #fff!important }
.black { color: #000!important }
.grey222 {color: #222!important }
.grey333 {color: #333!important }
.grey444 {color: #444!important }
.grey666 {color: #666!important }
.grey999 {color: #999!important }
.greyCCC {color: #ccc!important }

.bold { font-weight: bold }
.notBold { font-weight: normal }

.marginRight20 { margin-right: 20px }
.marginRight30 { margin-right: 30px }
.marginRight40 { margin-right: 40px }
.marginTop20 { margin-top: 20px }
.marginTop40 { margin-top: 40px }
.marginBottom20 { margin-bottom: 20px }
.marginBottom40 { margin-bottom: 40px }
.marginBottom60 { margin-bottom: 60px }
.marginRightNone { margin-right: 0!important }

/** Float contents **/
.cont300 {
	float: left;
	width: 300px;
}
.cont199 {
	float: left;
	width: 199px;
	padding: 0 0 20px 19px;
	border-left: 1px solid #b6b6b6;
}
.cont210 {
	float: left;
	width: 210px;
}
.cont220 {
	float: left;
	width: 220px;
}
.cont340 {
	float: left;
	width: 340px;
}
.cont400 {
	float: left;
	width: 400px;
}
.cont460 {
	float: left;
	width: 460px;
}
.cont540 {
	float: left;
	width: 540px;
}
.cont600 {
	float: left;
	width: 600px;
}
.cont700 {
	float: left;
	width: 700px;
}

.displayNone { display: none }

.textUppercase { text-transform: uppercase }


.borderRadius3 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.borderRadius10 {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.borderRadius5 {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.pointer { cursor: pointer }
.cursorDefault { cursor: default }


.overflowHidden { overflow: hidden }


/** Breadcrumbs **/
.breadcrumbs {
	margin-bottom: 10px;
	color: #666;
	font-size: 13px;
	cursor: default;
}
.breadcrumbs a {
	color: #666 !important;
}


/** Others **/

img.img-100 { width: 100% }

.longText {
	line-height: 22px;
	font-size: 13px;
	color: #222;
}
.longText ul {
	margin: 10px 20px;
}
.longText ul li {
	list-style: inside square;
}

ul.defaultList { margin: 20px }
ul.defaultList li { list-style: square }

.positionRelative { position: relative }

img.imgInline {
	display: inline;
	vertical-align: middle;
}




@media screen and (max-width: 767px) {
	
	.mobile-marginBottom20 { margin-bottom: 20px }
	.mobile-marginBottom40 { margin-bottom: 40px }
	
}