/*
	CSS Document
	2017
	Country: Brazil
	Author: Rian Dutra
	Website: www.riandesign.com.br
*/






@media screen {
	
	form input[type=text]
	form input[type=email],
	select,
	textarea {
		background: #fff;
		border: none;
		font-weight: 300;
		color: #555;
		padding: 12px 12px;
		font-size: 13px;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		-webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
		box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
	}
	form input[type=text]:focus,
	form input[type=email]:focus,
	select:focus,
	textarea:focus {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	form input[type=submit] {
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		background: #2d2c2a;
		font-size: 14px;
		font-weight: 600;
		padding: 15px 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
	}
	form input[type=submit]:hover { background: #454441 !important }
	
	label {
		color: #555;
		font-size: 13px;
		font-weight: 700;
	}
	
	strong { font-weight: 600 }
	.noneTextTransform { text-transform: none !important }
	
	/** Headers **/
	h1, h2, h3, h4 {
		margin: 0;
		padding: 0;
		background: none;
		line-height: normal;
		color: #444;
	}
	h1 a, h2 a, h3 a, h4 a {
		color: #444;
		text-decoration: none !important;
	}
	h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
		text-decoration: underline!important;
	}
	h1 {
		margin-bottom: 30px;
		font-size: 30px;
		cursor: default;
		color: #00a5f2;
		font-weight: bold;
		border-bottom: 3px solid #00a5f2;
		display: inline-table;
	}
	h2 {
		margin-bottom: 30px;
		font-size: 30px;
		font-weight: 500;
		color: #444;
	}
	h3 {
		margin-bottom: 20px;
		font-size: 20px;
	}
	
	.boxShadow {
		-webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
	}
	
	body {
		background: #fff;
		font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: 300;
		color: #555;
	}
	
	img {
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	
	a:hover img {
		filter: alpha(opacity=85);
		opacity: 0.85;
	}
	
	a {	color: #333 }
	
	/** Paginação **/
	.pagination {
		cursor: default;
		margin: 20px 0 40px 0;
		text-align: center;
		color: rgba(0,0,0,0.3);
	}
	.pagination a,
	.pagination .desabilitado,
	.pagination .current {
		padding: 6px 10px;
		text-decoration: none;
		margin-right: 4px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		border: 1px solid rgba(0,0,0,0);
	}
	.pagination a:hover {
		border: 1px solid #fff;
	}
	.pagination .current {
		color: #fff;
		background: #00a5f2;
	}
	.pagination .desabilitado {
		color: #999;
	}
	a:hover .nome { color: #444 }
	
	/* Conteúdo lateral da página interna */
	aside {
		background: #fff;
		padding: 20px;
		color: #888;
		border-bottom: 3px solid #ffcc2a;
	}
	.aside a { color: #888 }
	.aside .tit2 {
		font-size: 18px;
		letter-spacing: -0.5px;
		line-height: 20px;
		margin-bottom: 20px;
		font-weight: 600;
		text-transform: uppercase;
	}
	.aside hr { border-top: 1px solid #f3df9a }
	
	
	main { padding-top:  120px }
	
	
	/** Header **/
	header {
		position: fixed;
		width: 100%;
		height:  75px;
		background:  rgba(255,255,255,0.95);
		-webkit-box-shadow: 0 2px 50px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 2px 50px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 50px 0px rgba(0, 0, 0, 0.2);
		z-index: 999999;
	}
	
	header .logo {
		float: left;
		margin-top: 10px;
		margin-right: 10px;
	}
	header .logo img { height: 55px }
	
	/** Menu **/
	.menuDesktop menu {
		font-size: 15px;
		letter-spacing: -0.2px;
		font-weight: 400;
		text-align: center;
		cursor: default;
	}
	.menuDesktop menu li { float: left }
	.menuDesktop menu a {
		float: left;
		display: block;
		text-decoration: none;
		color: #333;
		padding: 0 20px;
		height: 72px;
		line-height: 72px;
		border-bottom: 3px solid rgba(0,0,0,0);
	}
	.menuDesktop menu a:hover {
		color: #00a5f2;
		border-bottom: 3px solid #00a5f2;
	}
	
	/** Language flags **/	
	.languageFlags {
		position: absolute;
		right: 0;
		top: 20px;
	}
	.languageFlags img {
		width: 40px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		filter: alpha(opacity=50);
		opacity: 0.5;		
		-webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
	}
	.languageFlags li {
		float: left;
		margin-left: 10px;
	}
	
	/** Footer **/
	footer {
		font-size: 12px;
		border-top: 1px solid #5e5d61;
		padding:  15px 0;
		color:  #fff;
		background: #7e7d81; /* Old browsers */
		background: -moz-linear-gradient(top, #5e5d61 0%, #7e7d81 25%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #5e5d61 0%,#7e7d81 25%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #5e5d61 0%,#7e7d81 25%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5d61', endColorstr='#7e7d81',GradientType=0 ); /* IE6-9 */
	}
	footer a {
		color: #fff;
		text-decoration: underline;
	}
	footer a:hover { text-decoration: none }
	footer .info {
		padding-top:  3px;
	}
	footer img.logo {
		width:  35px;
		float: left;
		margin-right: 10px;
		margin-top:  -5px;
	}
	footer .RianDesign { text-align: right }
	footer .RianDesign img { width: 25px }
	
	/** Welcome (home) **/
	.welcomeCont {
		line-height:  18px;
		padding-bottom:  50px;
		-webkit-box-shadow: 0 -8px 8px 0px rgba(0, 0, 0, 0.1) inset;
		-moz-box-shadow: 0 -8px 8px 0px rgba(0, 0, 0, 0.1) inset;
		box-shadow: 0 -8px 8px 0px rgba(0, 0, 0, 0.1) inset;
	}
	.welcomeCont img.logo {
		width: 370px;
	}
	
	
	/** Links box **/
	a.linkBox {
		display: inline-block;
		text-decoration: none;
		padding:  15px;
		border:  1px solid #ccc;
		margin:  0 10px;
		font-size:  18px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;		
		-webkit-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.2);
		box-shadow: 0 3px 2px 0px rgba(0, 0, 0, 0.2);
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
	}
	a.linkBox:hover {
		border: 1px solid rgba(0,0,0,0.5);
		filter: alpha(opacity=70);
		opacity: 0.7;
	}
	a.linkBoxGitHub span {
		padding: 15px 0 15px 40px;
		background-image: url('../images/icon-github@2x.png');
		background-repeat: no-repeat;
		background-size:  32px 32px;
		background-position: 0;
	}
	a.linkBoxDocumentation {
		color: #fff;
		border: 1px solid #00a5f2;
		background: #00a5f2; /* Old browsers */
		background: -moz-linear-gradient(top,  #00a5f2 0%, #0593d6 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  #00a5f2 0%,#0593d6 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  #00a5f2 0%,#0593d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a5f2', endColorstr='#0593d6',GradientType=0 ); /* IE6-9 */
	}
	a.linkBoxDocumentation span {
		padding: 15px 0 15px 40px;
		background-image: url('../images/icon-documentation@2x.png');
		background-repeat: no-repeat;
		background-size:  32px 32px;
		background-position: 0;
	}
	
	
	/** e.g.: Slack **/
	.highlightedCont {
		text-align: center;
		font-size:  30px;
		font-weight: 500;
		letter-spacing:  -1px;
		color:  #444;
		padding:  20px 0;
		border-bottom:  1px solid #dedede;
		margin-bottom:  50px;
	}
	.highlightedCont a { color: #444 }
	.slackCont img.logo {
		width: 175px;
		margin-right:  40px;
	}
	
	.labelBlue {
		background: #00a5f2;
		color: #fff;
		padding: 4px 8px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	img.borderGrey {
		border: 1px solid #ddd;
	}
	
	.installSteps {
		padding-bottom: 90px;
		margin-bottom: -100px;
	}
	
	
	/** Content above footer **/
	.aboveFooter {
		margin-top: 100px;
		background: #0182e1 url(../images/bg-cont-blue.jpg) top center no-repeat;
		background-size: 100% 100%;
		color: #fff;
		padding:  40px 0;
		-webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2) inset;
		-moz-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2) inset;
		box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.2) inset;
	}
	.aboveFooter a {
		color: #fff;
		text-decoration: underline;
	}
	.aboveFooter a:hover { text-decoration: none }
	
}

@media screen and (min-width: 980px) {
	
	/** With transition **/
	a,
	a img,
	menu a,
	form input,
	select,
	textarea {
		-webkit-transition: all 0.2s linear;
		-moz-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	
}


@media screen and (min-width: 980px) and (max-width: 1365px) {
	
}


@media screen and (min-width: 481px) and (max-width: 979px) {
	
}

@media screen and (max-width: 767px) {
	
	/** Headers **/
	h1 { font-size: 24px }
	h2 { font-size: 22px }
	h3 { font-size: 18px}
	
	
	main { padding-top:  0}
	
	
	/** Header **/
	header {
		position: inherit;
		height: auto;
		margin-bottom: 20px;
	}
	
	header .logo {
		float: none;
		text-align:  center;
		margin-bottom: 10px;
		margin-right: 0;
	}
	header .logo img { height: 55px }
	
	/** Bandeiras **/	
	.languageFlags {
		position: inherit;
		right: auto;
		top: auto;
		text-align: center;
		margin-top:  -15px;
		margin-bottom: 5px;
	}
	.languageFlags img {
		width: 23px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
	.languageFlags li {
		float: none;
		display: inline-block;
		margin-left: 5px;
	}
	
	
	/** Welcome (home) **/
	.welcomeCont {
		line-height: 18px;
		margin-top: -30px;
	}
	
	
	/** Links box **/
	a.linkBox {
		padding:  12px;
		border:  1px solid #ccc;
		margin:  5px 10px;
		font-size:  14px;
	}
	a.linkBox:hover {
		border: 1px solid rgba(0,0,0,0.5);
		filter: alpha(opacity=70);
		opacity: 0.7;
	}
	a.linkBoxGitHub span,
	a.linkBoxDocumentation span {
		background-size: 25px 25px;
	}
	
	
	/** e.g.: Slack **/
	.highlightedCont {
		font-size:  20px;
		letter-spacing:  -0.5px;
		margin-bottom: 30px;
	}
	.highlightedCont a { color: #444 }
	.slackCont img.logo {
		width: 100px;
		margin: 0 0 5px 0;
	}
	
	.labelBlue {
		background: #00a5f2;
		color: #fff;
		padding: 4px 8px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	
	img.borderGrey {
		border: 1px solid #ddd;
	}
	
	.installSteps { padding-bottom: 40px }
	
	
}

@media screen and (max-width: 480px) {
	
	/** Footer **/
	footer .RianDesign {
		margin-top:  7px;
		padding-top:  7px;
		border-top:  1px solid rgba(0,0,0,0.2);
	}
	footer .RianDesign a {
		color: #222;
		text-decoration:  none;
	}
	
}

@media screen and (max-width: 320px) {
	
	/** Logo **/
	.logoCont img.logo { width: 100% }
		
}